# Ignore Python cache directories
**/__pycache__/

# Ignore the uv.lock file
uv.lock
.venv/

openslide-python
static/images/tiles/Doctors/
# static/images/tiles/Doctors/DoctorC
staticfiles

#db backup
db.sqlite3.bak